.home {
  min-height: 100vh;
  .banner-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .banner-container {
    display: flex;
    margin-top: 30px;
    padding: 0 100px;
    gap: 10px;
    .banner-item {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .row {
        width: 100%;
      }
    }
  }
  .banner {
    position: relative;
    height: 100%;
    &--image {
      width: 100%;
      height: 100%;
      image-rendering: pixelated;
      object-fit: cover;
    }
    &--infor {
      position: absolute;
      bottom: 10px;
      left: 30px;
      color: white;
      font-weight: bold;
    }
  }

  .home-news-section {
    background-color: #fbf8f5;
    padding: 20px 200px;
    border-radius: 10px;
    margin-top: 45px;
    .title {
      color: #0d1e50;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .content {
      display: flex;
      margin-bottom: 40px;
      flex-wrap: wrap;
      gap: 10px;

      .content--item {
        width: 23%;
        padding: 0 5px;
        .card {
          font-size: 16px;
          display: flex;
          flex-direction: column;
          // padding: 10px;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

          .card-body {
            padding: 20px 15px 15px 15px;
            h5 {
              display: -webkit-box;
              -webkit-line-clamp: 2; /* Số dòng tối đa trước khi cắt chữ */
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-size: 16px;
              color: #0d1e50;
              margin-bottom: 10px;
            }
            .card-text {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .btn-read-more {
    margin-top: 5px;
    cursor: pointer;
  }
}
@media (max-width: 525px) {
  .home {
    .banner-container {
      display: flex;
      margin-top: 30px;
      padding: 0px;
    }
    .home-news-section {
      padding: 20px 30px;
      .content {
        gap: 10px;
        .content--item {
          width: 100%;
          .card {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
        }
      }
    }

    .banner-container {
      flex-direction: column;
    }

    .banner--infor {
      p,
      span {
        font-size: 12px;
      }
    }
  }
}
