.title-container {
  @include flex-space-between;

  border-bottom: 1px solid var(--border-main);
  padding-bottom: 5px;
  
  &__title {
    font-size: calc(var(--font-size) + 3px);
    font-weight: bold;
    text-transform: capitalize;
    padding: 4px 0;
    position: relative;
    &::before {
      content: "";
      display: block;
      background-color: var(--border-main-1);
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: -6px;
      left: 0;
    }
    span {
      color: var(--color-text-4);
    }
  }
}
