.betting-container {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: auto;

  .popup {
    margin: 0 var(--padding-page);
    background-color: var(--bg-popup);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;

    .betting-header {
      @include flex-center;
      position: relative;
      height: 50px;
      border-bottom: 1px solid var(--border-main);

      &__title {
        font-weight: bold;
        font-size: calc(var(--font-size) + 2px);
        .badge {
          color: var(--color-text-4);
        }
      }

      &__icon {
        position: absolute;
        right: 10px;
        font-size: 25px;
        cursor: pointer;
        color: var(--bg-button-2);
      }
    }

    .betting-content {
      padding: 10px;
      max-height: 300px;
      min-height: 212px;
      overflow-y: auto;
      .betting-item {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1.5fr 0.5fr 1.4fr 0.5fr 1fr 0.1fr;
        align-items: center;
        border-bottom: 1px solid var(--border-main);
        padding: 10px;
        &:first-child {
          padding: 0px 10px 10px 10px;
        }

        .game-type {
          font-weight: bold;
        }
        .market {
          &__date {
            color: var(--color-text-4);
          }
        }
        .list-number {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }

        .odds {
          font-weight: bold;
        }

        .return-value {
          margin: auto;
          color: var(--color-text-6);
        }

        .trash {
          font-size: calc(var(--font-size) + 15px);
          cursor: pointer;
        }
      }
    }

    .betting-footer {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .betting-container {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: auto;

    .popup {
      margin: 0 var(--padding-page);
      background-color: var(--bg-popup);
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;

      .betting-header {
        @include flex-center;
        position: relative;
        height: 50px;
        border-bottom: 1px solid var(--border-main);

        &__title {
          font-weight: bold;
          font-size: calc(var(--font-size) + 2px);
          .badge {
            color: var(--color-text-4);
          }
        }

        &__icon {
          position: absolute;
          right: 10px;
          font-size: 25px;
          cursor: pointer;
          color: var(--bg-button-2);
        }
      }

      .betting-content {
        padding: 10px;

        .betting-item {
          display: flex;
          gap: 10px;
          border-bottom: 1px solid var(--border-main);
          padding-bottom: 10px;
          .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          }

          .game-type {
            margin-right: 5px;
          }

          .list-number {
            flex-wrap: wrap;
          }

          .betting-info {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .betting-container {
    .popup {
      .betting-content {
        padding: 10px;
        .betting-item {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}
